---
import Layout from "../../layouts/Layout.astro";
import { _getStaticPaths } from "../../i18n";
import { locales, getMessages, getTranslations } from "../../i18n";
import { BLOGS } from "../../data/blog";
import LinkCard from "../../components/ui/LinkCard.astro";
const { locale } = Astro.params;
export const getStaticPaths = _getStaticPaths; // 必須
const messages = getMessages(locale);
---

<Layout locale={locale}>
    <div class="flex flex-col sm:flex-row gap-4">
        {BLOGS.map((blog) => <LinkCard blog={blog} locale={locale} />)}
    </div>
</Layout>
