<p>
    私は大阪大学の博士後期課程１年目の学生であり,産業科学研究所（SANKEN）にて特任研究員を務めています.
    研究テーマは主に，ベイズによるイベントテンソル分解 [C1]に取り組んでいます．
    現在は同研究所にて，櫻井保志教授および松原靖子教授のもとで研究を進めています．
    学士号および修士号は，櫻井保志教授のご指導のもと，それぞれ 2024
    年3月および2026 年 3 月に取得いたしました．
</p>
