---
import { PERSON_DIC } from "@/data/person";
import { EPersonId } from "@/types/person";
import { EPublicationId } from "@/types/cv";
const MATSUBARA = PERSON_DIC[EPersonId.Matsubara];
const SAKURAI = PERSON_DIC[EPersonId.Sakurai];
---

<p>
    私は大阪大学の博士後期課程１年目の学生であり,産業科学研究所（SANKEN）にて特任研究員を務めています.<br
    />
    現在は同研究所にて，<a href={SAKURAI.Homepage}>{SAKURAI.JapanName}教授</a
    >および<a href={MATSUBARA.Homepage}>{MATSUBARA.JapanName}教授</a>
    <p>
        研究テーマは主に，ベイズによるイベントテンソル分解 [{
            EPublicationId.HeteroComp
        }]に取り組んでいます．
    </p>
    <p>
        学士号および修士号は，櫻井保志教授のご指導のもと，それぞれ 2024
        年3月および2026 年 3 月に取得いたしました．
    </p>
</p>
