<p>
    I am Soshi Kakio , a second-year M.Sc. student at The University of Osaka,
    Japan, and a specially appointed researcher at SANKEN (The Institute of
    Scientific and Industrial Research at The University of Osaka). My research
    mainly focuses on data stream mining and event tensor decomposition. I am
    fortunate to be advised by Prof. Yasushi Sakurai and Prof. Yasuko Matsubara
    at SANKEN. I received my B.Sc. degrees from The University of Osaka advised
    by Prof. Yasushi Sakurai in March 2024.
</p>
