---
import { ClientRouter } from "astro:transitions";
import ProfilePictures from "@/assets/profile_pictures.jpg";
import DarkLightController from "../components/ui/DarkLightController.astro";
import Navbar from "../components/ui/Navbar.astro";
import BetterIcon from "../components/ui/BetterIcon.astro";
import { Header, HeaderActions, HeaderContent } from "@/components/ui/header";
import { Logo, LogoImage, LogoText } from "@/components/ui/logo";
import SwitichLang from "@/components/ui/SwitichLang.astro";
import Head from "../components/Head.astro";
import { template } from "../settings";
import Footer from "../components/ui/Footer.astro";
import { getName } from "@/data/person";
import { EPersonId } from "@/types/person";
type Props = {
	locale?: string;
};

const { locale = "en" } = Astro.props;
const MY_NAME = getName(EPersonId.Me, locale);
---

<!doctype html>
<html lang={locale}>
	<head>
		{template.transitions && <ClientRouter />}

		<Head locale={locale} />
	</head>
	<body>
		<Header class="bg-base-200">
			<HeaderContent>
				<div>
					{
						template.menu_left && <DarkLightController />
						/* <ThemeSelector transition:persist /> */
					}
					<label
						for="my-drawer"
						class="btn btn-square btn-ghost lg:hidden"
					>
						<BetterIcon>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								class="size-6 stroke-current"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
								></path>
							</svg>
						</BetterIcon>
					</label>
				</div>
				<HeaderActions class="ml-auto">
					<SwitichLang locale={locale} />
					<DarkLightController />
				</HeaderActions>
			</HeaderContent>
		</Header>
		<div
			class={`bg-base-100 drawer lg:drawer-open ${template.menu_left ? "drawer-end" : ""}`}
		>
			<input id="my-drawer" type="checkbox" class="drawer-toggle" />
			<!-- Drawer content -->
			<div class="drawer-content bg-base-100">
				<main
					class="p-8 pt-10 lg:pt-16 lg:max-w-5xl max-w-full mx-auto min-h-screen flex flex-col justify-between"
				>
					<!-- Page content -->
					<slot />
					<Footer />
				</main>
			</div>
			<!-- Drawer side -->
			<div class="drawer-side z-40">
				<label
					for="my-drawer"
					aria-label="close sidebar"
					class="drawer-overlay"></label>
				<Navbar locale={locale} />
			</div>

			<style>
				@media (prefers-color-scheme: dark) {
					:root {
						--my-color: #252b30;
					}
				}
				html,
				body {
					margin: 0;
					width: 100%;
					height: 100%;
				}

				.container-end {
					display: flex;
					align-items: center;
					gap: 1rem; /* ← 横の隙間 */
				}
			</style>
		</div>
	</body>
</html>
