---
import type { Award } from "@/types/cv";
interface Props {
    item: Award;
    locale?: string;
}
import { locales, getMessages, getTranslations } from "../../i18n";
import TimeDisplay from "../ui/TimeDisplay.astro";
const { item, locale } = Astro.props;
const messages = getMessages(locale);
---

<li class="list-row flex items-center">
    <span class="">
        <i class="fa-regular fa-calendar"></i>
        <TimeDisplay time={item.Day} locale={locale} />
    </span>
    <a class="link link-primary" href={item.Link}>{messages.Award[item.ID]}</a>
</li>
