---
import type { Experience } from "@/types/cv";
interface Props {
    item: Experience;
    locale?: string;
}
import { locales, getMessages, getTranslations } from "../../i18n";
const { item, locale } = Astro.props;
const messages = getMessages(locale);
---

<h3 class="text-lg font-semibold text-heading my-2">
    {messages.Facurity[item.facurity]}
</h3>
<ol class="text-body mb-4">
    <li>
        {messages.Role[item.role]}
    </li>
    <li>{messages.Location[item.location]}</li>
</ol>
