---
import SocialIcons from "../../components/ui/SocialIcons.astro";
import { getName } from "@/data/person";
import { EPersonId } from "@/types/person";
type Props = {
	locale?: string;
};
const { locale = "en" } = Astro.props;
const MY_NAME = getName(EPersonId.Me, locale);
---

<footer class="footer footer-center bg-base-100 text-base-content px-4 py-8">
	<aside>
		<p><SocialIcons /></p>
		<p>
			Copyright © {new Date().getFullYear()} - All right reserved by {
				MY_NAME
			}
		</p>
		<p>
			Built with <a
				href="https://github.com/maiobarbero/astro_academia"
				class="font-bold"
				target="_blank">Astro Academia</a
			> 🎓 by <a
				href="http://maiobarbero.dev"
				class="font-bold"
				target="_blank">Matteo Barbero</a
			>
		</p>
	</aside>
</footer>
