---
import type { Person } from "@/types/person";
interface Props {
    isEnglish: boolean;
    person: Person;
    isAppendComma: boolean;
}
const { isEnglish, person, isAppendComma } = Astro.props;
const NAME = isEnglish ? person.EnglishName : person.JapanName;
---

{
    person.IsMe ? (
        <text class="font-bold underline">{NAME}</text>
    ) : (
        <a href={person.Homepage} class="link link-default">
            <text>{NAME}</text>
        </a>
    )
}
{isAppendComma && <text>, </text>}
