---
import { SOCIALS } from "@/data/profile";
---

<div class="flex flex-wrap justify-between items-center">
	{
		SOCIALS.map((item) => (
			<a href={item.href}>
				<i class={`${item.icon_id} fa-2x`} />
			</a>
		))
	}
</div>
