---
import { SOCIALS } from "@/data/socials";
import { Icon } from "@/components/ui/icon";
import SocialIconItem from "./SocialIconItem.astro";
const { class: className = "" } = Astro.props;
---

<div class=`flex flex-wrap justify-between items-center ${className}`>
	{
		SOCIALS.map((item) => (
			<a href={item.href}>
				<SocialIconItem item={item} />
			</a>
		))
	}
</div>
