---
import { locales, getMessages, getTranslations } from "../../i18n";
type Props = {
    locale?: string;
};
const { locale } = Astro.props;
const pathname = Astro.url.pathname; // "/en/blog"
const segment = pathname.split("/").filter(Boolean).at(-1);
---

<style>
    a[aria-current="page"] {
        color: var(--accent);
        font-weight: 600;
        text-decoration: underline;
    }
</style>

<nav>
    <a
        href={`${import.meta.env.BASE_URL}/ja/${segment}/`}
        aria-current={locale === "ja" ? "page" : undefined}
    >
        🇯🇵日本語
    </a>
    |
    <a
        href={`${import.meta.env.BASE_URL}/en/${segment}/`}
        aria-current={locale === "en" ? "page" : undefined}
    >
        🇺🇸English
    </a>
</nav>
